/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

#galleria-loader{height:1px!important}

.galleria-container {
    position: relative;
    overflow: hidden;
    background: #000;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 0px;
    bottom: 25px;
    left: 0px;
    right: 0px;
    overflow:hidden;
}
.galleria-stage .galleria-image img{
    width:100% !important;
    height: 100% !important;
}
.galleria-thumbnails{
    bottom:0px;
    height:auto !important;
    width: 100% !important;
    position: absolute !important;
    top:10px !important;
    left:0px !important;
    overflow: hidden;
}
.galleria-thumbnails-list{
    height:100%;
    text-align: center !important;
}

.galleria-thumbnails-container {
    background-color: #333333;
    bottom: 25px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    display:none;
    /*border-right: solid 3px black;*/
}
.galleria-thumb-text{
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #213030;
    z-index:10;
    position: absolute;
}
.galleria-menu {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    background-color: #333333;
    z-index:10;
}
.galleria-show-thumb{
    background: #000;
    height:25px;
    width:30px;
    background-image: url(buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.galleria-next, .galleria-prev{
    background-image: url(navmap.png);
    background-repeat: no-repeat;
    width: 38px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    background-position: -190px 0;
}
.galleria-next{
    background-position: -270px 0;
    bottom: 0px;
    top: auto;
}
.galleria-next:hover{
    background-position: -232px 2px;
    bottom: 2px;
    right: 1px;
}
.galleria-prev:hover{
    background-position: -152px 1px;
}
.galleria-play{
    background: #000;
    height:25px;
    width:30px;
    position: absolute;
    top:0px;
    left:30px;
    background-image: url(buttons.png);
    background-repeat: no-repeat;
    background-position: -30px 0px;
}
.galleria-pause{
    background-position: -119px 0px !important;
}
.galleria-full{
    background: #000;
    height:25px;
    width:30px;
    position:absolute;
    right: 0px;
    top:0px;
    background-image: url(buttons.png);
    background-repeat: no-repeat;
    background-position: -88px 0px;
}
.galleria-lightbox{
    background: #000;
    height:25px;
    width:30px;
    position:absolute;
    right: 30px;
    top:0px;
    background-image: url(buttons.png);
    background-repeat: no-repeat;
    background-position: -208px 0px;
}
.galleria-soundicon{
    background: #000;
    height:25px;
    width:26px;
    position:absolute;
    right: 60px;
    top:0px;
    background-image: url(moff.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: auto 25px;
    z-index: 100;
}
.mon{
    background-image: url(mon.png);
}
.galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.galleria-thumbnails .galleria-image {
    height: 150px;
    width: 100px;
    background: #000;
    margin: 0 5px 0 0;
    border: 1px solid #000;
   /* float: left;*/
    float: none;
    display: inline-block;
    cursor: pointer;
}
.galleria-thumbnails .galleria-image img {
    z-index: 9;
    position: absolute;
}
.galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #fff;
    font: normal 11px/1 arial,sans-serif;
    z-index: 1;
}
.galleria-loader {
    background: #000;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 40%;
    left: 40%;
/*    left: 20px;
    top: 40%;
    bottom: 40%;
    right: 40%;
    left: 40%;*/
    z-index: 30;
    display: none;
    background: url(382.gif) no-repeat;
    background-size: contain;
    background-position:center;
}
.galleria-info {
    top: 0px;
    left: 60px;
    right: 60px;
    z-index: 2;
    height:25px;
    position: absolute;
}
.galleria-info-text {
    background-color: #333333;
    padding-left: 10px;
    display: none;
    /* IE7 */ zoom:1;
}
.galleria-info-title {
    font: bold 12px/1.1 arial,sans-serif;
    margin: auto;
    line-height: 25px;
    color: #fff;
    margin-bottom: 7px;
}
.galleria-info-description {
    font: italic 12px/1.4 georgia,serif;
    margin: 0;
    color: #bbb;
}
.galleria-info-close {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -753px -11px;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
}
.notouch .galleria-info-close:hover{
    opacity:1;
    filter: alpha(opacity=100);
}
.touch .galleria-info-close:active{
    opacity:1;
    filter: alpha(opacity=100);
}
.galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
}
.notouch .galleria-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.touch .galleria-info-link:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -75px;
    width: 100%;
    height: 150px;
    left: 0;
}
.galleria-image-nav-left,
.galleria-image-nav-right {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer;
    width: 38px;
    height: 100%;
    position: absolute;
    left: 10px;
    z-index: 2;
    background-position: -77px 55px;
}
.galleria-image-nav-right {
    left: auto;
    top: 0px;
    right: 10px;
    background-position: -38px 55px;
    z-index: 2;
}
.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor: pointer;
    display: none !important;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8;
    filter: alpha(opacity=80);
}
.galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}
.galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left,
.galleria-image-nav-right {
    background-image: url(navmap.png);
    background-repeat: no-repeat;
}