body{
    color: #d9d9d9;
    background-color: #4c4c4c;
}
.button{
    background-color: #ff6944;
    width: 110px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    text-align: center;
    cursor: crosshair;
    color: whitesmoke;
    vertical-align: top;
    line-height: 20px;
    display: inline-block;
}
.button:hover{
    background-color: #d35937;
}
.button_down{
    box-shadow: inset 0 0 7px 2px #76331e;
}

.top_menu li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.top_menu{
    background-color: #818181;
}

.selector > div{
    width: 200px;
    text-align: center;
    text-transform:uppercase;
    display: inline-block;
    vertical-align: middle;
}
/*.selector .lname{left: 200px;}
.selector .order_lname{left: 200px;}*/
.selector .phone{left: 400px;}
.selector .email{left: 400px;}
/*.selector .fname{left: 200px;}*/
.selector .name div{display: inline-block;}
.selector{
    min-height: 30px;
    padding: 10px 0px;
}
.selector:hover{
    background-color: #745030;
    padding: 20px 0px;
}

.order_map{
    height: 640px;
    width: 640px;
}