body {
    /*background-image: url('images/bg.jpg');
    background-repeat: repeat-y;
    background-position: center;*/
    background-color: #ffffff;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
    widht:100%;
    height: 100%;
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
#page {
    background-color: white;
    background-image: none;
    border-color: transparent;
    /*border-radius: 10px 10px 0 0;
    border-style: none;
    min-height: 550px;
    padding: 0px 30px 25px;*/
    margin-top: 80px;
    width: 800px;
    z-index: 1;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#topheader{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    /*margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;*/
    height: 70px;
    background: url("images/bg2.jpg") repeat scroll left top #FFFFFF;
    border-bottom: 1px solid;
    border-bottom-color: #d7d7d7;
    padding-bottom: 10px;
    z-index: 10;
    /*margin-bottom: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;*/
}
#greeting{
    position: absolute;
    left: 0;
    width: 35%;
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
#menu{
    /*border-bottom: solid 1px #BFBFBF;
    border-top: solid 1px #BFBFBF;*/
    width: 800px;
    /*list-style-type: none;
    text-align: justify;
    text-align: center;*/
    color: #787878;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 35px;
    text-transform: uppercase;
    bottom: 10px;
    padding: 0px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
    /*padding: 5px;
    margin-top: 10px;
    float:right;*/
}
/*#menu:after {
    content: "";
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}*/

#pano{
    text-align: center;
    max-width: 800px;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 7px 0px;
}
.pano_link{
    margin: 2px 10px;
    cursor: pointer;
    color: rgb(176, 176, 176);
}
.pano_c{
    color: white;
    font-weight: 900;
    border-bottom: white 1px solid;
}
.pano_menu{
    background-color: black;
    width: 100%;
    display: inline-block;
    margin: 15px auto;
    /*margin-left: auto;
    margin-right: auto;*/
}
.mlink_p {
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #7F7F7F;
}
.mlink {
    display: inline;
    padding: 0;
    margin: 0;
}
.mlink_thumb:link, .mlink_thumb:visited{
    color: inherit;
    text-decoration: none;
    font-family: Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
}
.mlink_thumb:hover{
    color: black;
    text-decoration: none;
    font-family: Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
}
.mlink_c{
    color: #9B6666 !important;
}

.thumb{
    height:45px;
}

#current:link, #current:visited{
    color:white !important;
    font-family: Lucida Console, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    text-rendering: optimizelegibility;
    text-decoration: none;
}
.norm_a:link, .norm_a:visited{
    color:#797979;
    font-family: Lucida Console, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    text-rendering: optimizelegibility;
    text-decoration: none;
}

.norm_a:hover{
    color:white;
    font-family: Lucida Console, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    text-rendering: optimizelegibility;
    text-decoration: none;
}
a:link {color:inherit; text-decoration: none}      /* unvisited link */
a:visited {color:inherit; text-decoration: none}  /* visited link */
a:hover {color:inherit; text-decoration: none}  /* mouse over link */
a:active {color:inherit; text-decoration: none}  /* selected link */

.mlink_span{
    /*text-align: center;*/
    position: relative;
    display: inline-block;
    text-align: center;
    width: 195px;
    height: 80px;
    top: -35px;
    padding: 0;
    margin: 0;
}
/*.inner_menu_div{
    height: 80px;
    position: absolute;
    top: 0px;
    width: 190px;
    z-index: 11;
    top: -35px;
}
.inner_menu_div:hover{
    background: #e2e2e2;
}*/
.mlink_span:hover{
    background: #e2e2e2;
}
.menu_divider_r{
    background-image: url("images/div.jpg");
    width: 2px;
    height: 80px;
    background-size: 2px 80px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu_divider_l{
    background-image: url("images/div.jpg");
    width: 4px;
    height: 80px;
    background-size: 4px 80px;
    position: absolute;
    top: 0px;
    left: -2px;
    display: none;
}
.first_menu_divider{
    background-image: url("images/div.jpg");
    background-size: 2px 80px;
    width: 2px;
    height: 80px;
    position: absolute;
    top: 0;
}
.mlink_span_c{
    /*background-color: #c86f6f;*/
    font-weight: 900;
    color: black;
    /*border-bottom: 1px black solid;
    border-radius: 5px;*/
}

#galleria{
    width: 800px;
    height: 545px;
}
#share_block{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
}
#share_buttons{
    display: inline-block;
    width: 50px;
    /*float: none;
    position: relative;
    left: 281px;
    margin-left: 315px;
    margin-right: 315px;
    background-color: white;*/
    position: fixed;
    top: 200px;
    left: 20px;
}
.plus, .minus, #fullscreen {
    position: absolute;
    height: 25px;
    width: 30px;
    display: inline-block;
    background-image: url(images/buttons.png);
    padding: 0px;
    margin: 0px;
}
.plus{
    background-position: -150px;
}
.minus{
    background-position: -180px;
    left: 30px;
}
#fullscreen{
    left:60px;
    background-position: -88px;
}
#description{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #666666;
    background: linear-gradient(to right, #F6F6F6, #FFFFFF 60%) repeat scroll 0 0 transparent;
    text-align: left;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    position: relative;
}
#d_content{
    width:87%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#d_corner{
    background-image: url('images/pagesmall.png');
    position: absolute;
    top: -2px;
    right: -2px;
    width:56px;
    height: 56px;
}
#title{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 34px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.pano_nav{
    background-image: url(images/navleft.png);
    position: absolute;
    top: 45%;
    width: 61px;
    height: 59px;
    left: 5px;
}
#nav_right{
    background-image: url(images/navright.png) !important;
    right: 5px;
    left: auto !important;
}
#music_icon{
    width: 25px;
    height: 19px;
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    top: 6px;
    right: 60px;
    z-index: 10;
}
#music_icon:hover{
    filter: alpha(opacity=100);
    opacity: 1;
    cursor: pointer;
}
.on{
     background-image: url('images/sound.png');
    background-repeat: no-repeat;
}
.off{
     background-image: url('images/soundout.png');
    background-repeat: no-repeat;
}
