<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <title>Photos</title>
        <LINK REL=StyleSheet HREF="../static/style.css" TYPE="text/css" MEDIA=screen id="style">
	<LINK REL=StyleSheet HREF="../static/galleria/themes/twelve/galleria.twelve.css" TYPE="text/css" MEDIA=screen>
        <script type="text/javascript">var switchTo5x=false;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "c5ebbc0a-be31-49a1-bf3f-a9d2d9258c4b", doNotHash: false, doNotCopy: false, hashAddressBar: false, snapsets: false});</script>
            
        <!--<script src="http://stevenlevithan.com/demo/parseuri/js/assets/parseuri.js"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="../static/galleria/galleria-1.2.9.min.js"></script>
        <script type="text/javascript">
            var music_on = 0;
            {% if music %}
                music_on = 1;
            {% endif %}
            {% if not settings.bool_music%}
                music_on = -1;
            {%endif%}
            $(document).ready(function(){
                Galleria.loadTheme('../static/galleria/themes/twelve/galleria.twelve.min.js');
                Galleria.run('#galleria');
                
            });
        </script>
    </head>

    <body>
        <div id="page" class="shadow rounded-corners">
            <div class="menu_divider" style="position: absolute; left: -3px;top:-80px;z-index: 20"></div>
            <div id="topheader">
                <ul id="menu">
                    <span class="first_menu_divider"></span>

                    {% for page in settings.pages %}
                    <li class="mlink"><span class="{{page.class}} mlink_span">
                        <div style="height: 35px;width: 100%"></div>
                        <a class="mlink_a" href="{{page.url}}">{{page.name}}</a>
                        <div style="width:200px;position: absolute;top:0px"><div class="menu_divider_l"></div><div class="menu_divider_r"></div></div>
                    </span></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div id="galleria">
                {% for image in images %}
                <img src="{{image.url}}" data-title="{{image.name}}">
                {% endfor %}
            </div>
            
            <audio loop id="mplayer" {% if settings.bool_music %} autoplay {% endif %}>
                {% for file in music %}
                <source src="{{file.url}}" type="{{file.type}}">
                {% endfor %}
            </audio>
            
            <div id="description">
                <div id="title">{{settings.title}}</div>
                <div id="d_corner"></div>
                <div id="d_content">{{settings.description}}</div>
            </div>
            
            <span id='share_buttons'>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
            </span>
        </div>
        
    </body>
</html>
