<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <title>Photos</title>
        <LINK REL=StyleSheet HREF="../static/style.css" TYPE="text/css" MEDIA=screen id="style">
	<LINK REL=StyleSheet HREF="../static/galleria/themes/twelve/galleria.twelve.css" TYPE="text/css" MEDIA=screen>
        <script type="text/javascript">var switchTo5x=false;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "c5ebbc0a-be31-49a1-bf3f-a9d2d9258c4b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
            
        <!--<script src="http://stevenlevithan.com/demo/parseuri/js/assets/parseuri.js"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="../static/galleria/galleria-1.2.9.min.js"></script>
        <script type="text/javascript">
            var music_on = 0;
            {% if music %}
                music_on = 1;
            {% endif %}
            
            $(document).ready(function(){
                Galleria.loadTheme('../static/galleria/themes/twelve/galleria.twelve.min.js');
                Galleria.run('#galleria');
                
            });
        </script>
    </head>

    <body>
        <div style="display: none">
            {% for image in images %}
                <img src="{{image.url}}">
            {% endfor %}
        </div>
        <div id="page" class="shadow rounded-corners">
            <div id="topheader">
                <div id="greeting">
                    {{settings.greeting}}    
                </div>
                <ul id="menu">
                    {% for page in settings.pages %}
                    <li class="mlink"><span class="{{page.class}} mlink_span"><a class="mlink_a" href="{{page.url}}">{{page.name}}</a></span></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div id="galleria">
                {% for image in images %}
                <img src="{{image.url}}" data-title="{{image.name}}">
                {% endfor %}
            </div>
            
            <audio loop id="mplayer" autoplay>
                {% for file in music %}
                <source src="{{file.url}}" type="{{file.type}}">
                {% endfor %}
            </audio>
            
            <div id="description">
                <div id="title">{{settings.title}}</div>
                {{settings.description}}
            </div>
            
            {% if settings.share %}
            <span id='share_buttons'>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
            </span>
            {% endif %}
        </div>
        
    </body>
</html>
