<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Area Map</title>
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <LINK REL=StyleSheet HREF="../static/style.css" TYPE="text/css" MEDIA=screen id="style">
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDg7WZYbblBSlPJc7nzaqEmn0whuaIhoN0&sensor=false"></script>
        
        <script type="text/javascript">var switchTo5x=false;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "c5ebbc0a-be31-49a1-bf3f-a9d2d9258c4b", doNotHash: false, doNotCopy: false, hashAddressBar: false, snapsets: false});</script>
            
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript">           

            
            $(document).ready(function(){                
                var geocoder;
                var map;
                var centerL;
                
                function codeAddress(address) {
                    geocoder = new google.maps.Geocoder();
                    //var address = 'M5J2N2';
                    geocoder.geocode( { 'address': address}, function(results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                        initialize(results[0].geometry.location, results[0].geometry.viewport);                        
                      } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                      }
                    })
                  }
    
                function initialize(c, v){
                    var mapProp = {
                      center: c,
                      mapTypeId:google.maps.MapTypeId.ROADMAP
                      };
                    map=new google.maps.Map(document.getElementById("googleMap")
                      ,mapProp);
                    
                    new google.maps.Marker({
                        map:map,
                        draggable:false,
                        position: c
                    });
                    
                    map.fitBounds(v);
                }
                
                codeAddress("{{settings.address}}");
                
            });

        </script>
    </head>

    <body>       
        <div id="page" class="shadow rounded-corners">
            
            <div id="topheader">
                <ul id="menu">
                    <span class="first_menu_divider"></span>

                    {% for page in settings.pages %}
                    <li class="mlink"><span class="{{page.class}} mlink_span">
                        <div style="height: 35px;width: 100%"></div>
                        <a class="mlink_a" href="{{page.url}}">{{page.name}}</a>
                        <div style="width:200px;position: absolute;top:0px"><div class="menu_divider_l"></div><div class="menu_divider_r"></div></div>
                    </span></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div id="googleMap" style="width:800px;height:500px;"></div>

                        <div id="description">
                <div id="title">{{settings.title}}</div>
                <div id="d_corner"></div>
                <div id="d_content">{{settings.description}}</div>
            </div>
            
                <span id="share_buttons">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                </span>    
        </div>

    </body>
</html>