<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <LINK REL=StyleSheet HREF="../static/style.css" TYPE="text/css" MEDIA=screen id="style">
        <title>Street View</title>
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDg7WZYbblBSlPJc7nzaqEmn0whuaIhoN0&sensor=false"></script>
        
        <script type="text/javascript">var switchTo5x=false;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "c5ebbc0a-be31-49a1-bf3f-a9d2d9258c4b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript">                         
            $(document).ready(function(){
                var geocoder;
                var map;
                var centerL;
                
                function codeAddress(address) {
                    geocoder = new google.maps.Geocoder();
                    //var address = 'M5J2N2';
                    geocoder.geocode( { 'address': address}, function(results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                        initialize(results[0].geometry.location, results[0].geometry.viewport);                        
                      } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                      }
                    })
                  }
    
                function initialize(c, v){
                    
                    var panoramaOptions = {
                        position: c,
                        pov: {
                          heading: 0,
                          pitch: 10
                        }
                    };
                    
                    var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'),panoramaOptions);
                }
                
                codeAddress("{{settings.address}}");             

            });

        </script>
    </head>

    <body>
        <div id='log_file_access' style="display: none"></div>
        
        <div id="page" class="shadow rounded-corners">
            <div id="topheader">
                <div id="greeting">
                    Welcome to {{settings.greeting}}    
                </div>
                <ul id="menu">
                    {% for page in settings.pages %}
                    <li class="mlink"><span class="{{page.class}} mlink_span"><a class="mlink_a" href="{{page.url}}">{{page.name}}</a></span></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="pano" style="width: 800px; height: 560px;"></div>


                <span id="share_buttons">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                </span>    

        </div>

        

    </body>
</html>